In [6]:
#ensure all teams are ranked

RoundOf64 = ['Mildert_A',
'Cuths_A',
'Collingwood_A',
'Collingwood_D',
'Hild_Bede_A',
'Josephine_Butler_A',
'John_Snow_A',
'Collingwood_C',
'Trevs_A',
'Collingwood_B',
'Hatfield_A',
'Grey_A',
'Aidans_A',
         
'Castle_A',
'Stephenson_A',
'Collingwood_G',
'Grey_B',
'Collingwood_E',
'Hatfield_B',
'Mildert_B',
'Chads_A',
'Cuths_B',
'Aidans_B',
'Hild_Bede_B',
'Marys_A',
         
'Josephine_Butler_B',
'Johns_A',
'Collingwood_F',
'South_A',
'Cuths_E',
'Hild_Bede_C',
'Ustinov_A',
'Hatfield_C',
'Grey_C',
'Mildert_C',
'Mildert_D',
'Marys_B',
         
'John_Snow_B',
'Mildert_E',
'Aidans_C',
'Trevs_B',
'Josephine_Butler_C',
'Collingwood_J',
'Hatfield_D',
'Castle_B',

'Collingwood_K',
'Collingwood_L',
'Mildert_F',
'Johns_B',
'Hild_Bede_E',
'Staff_A',
         
'Hild_Bede_G',
'South_B',
'Grey_E',
'Grey_D',
'John_Snow_C',
'Ustinov_B',
'Cuths_F',
'Johns_C',

'Stephenson_C',
'John_Snow_D',
'Chads_B',
'Hild_Bede_H',
'South_D']

RoundOf32 = ['Hatfield_C',
'Grey_C',
'Mildert_C',
'Mildert_D',
'Marys_B',
         
'John_Snow_B',
'Mildert_E',
'Aidans_C',
'Trevs_B',
'Josephine_Butler_C',
'Collingwood_J',
'Hatfield_D',
'Castle_B',

'Collingwood_K',
'Collingwood_L',
'Mildert_F',
'Johns_B',
'Hild_Bede_E',
'Staff_A',
         
'Hild_Bede_G',
'South_B',
'Grey_E',
'Grey_D',
'John_Snow_C',
'Ustinov_B',
'Cuths_F',
'Johns_C',

'Stephenson_C',
'John_Snow_D',
'Chads_B',
'Hild_Bede_H',
'South_D']

RoundOf16 = ['Hatfield_C',
'Grey_C',
'Mildert_C',
'Mildert_D',
'Marys_B',
'John_Snow_B',
'Mildert_E',
'Josephine_Butler_A',
'Josephine_Butler_B',
'Josephine_Butler_C',
'Collingwood_J',
'Hatfield_D',
'Castle_B',
'Collingwood_K',
'Collingwood_L',
'Mildert_F']

QuarterFinals = ['Josephine_Butler_A',
'Josephine_Butler_B',
'Josephine_Butler_C',
'Collingwood_K',
'Collingwood_J',
'Collingwood_L',
'Castle_A',
'Castle_B']  #Just Random Test Teams

SemiFinals = ['Josephine_Butler_A',
'Josephine_Butler_B',
'Josephine_Butler_C',
'Josephine_Butler_D',]

Final = ['Ross',
'Scott']

In [3]:
import pandas as pd
import numpy as np
import random
import math

In [4]:
def Tournament(Participants, Probability_Modifier_1_To_20):  #Higher Modifier Favours Lower Teams
    
    ProbabilityModifier = Probability_Modifier_1_To_20*5
    
    if math.log(len(Participants),2) != int(math.log(len(Participants),2)):
        print('The Number of Participants Must Be a Power of 2!')
        return
    
    if Probability_Modifier_1_To_20 > 20:
        print('Insert Probability Modifier Between 1 and 20!')
        return
    
    N = int(len(Participants))
    HalfN = int(N/2)
    QuarterN = int(N/4)
    EighthN = int(N/8)
    SixteenthN = int(N/16)
    ThirtytwoN = int(N/32)
    SixtyfourN = int(N/64)

    index=[]
    for i in range(10000):
        r=random.randint(0,N-1)
        if r not in index: 
            index.append(r)

    Fixture = []
    for i in range(N):
        Fixture += [Participants[index[i]]]

    list = []
    for i in range(HalfN):
        list.append(2*i)
    
    data = [[0,0]]
    for i in range(HalfN):
        data.append([Fixture[list[i]],Fixture[list[i]+1]])
    
    Bracket = data[1:HalfN+1]
    
    Tournament_Bracket = pd.DataFrame(data, columns=["Home", "Away"]).drop(0)
    
    display(Tournament_Bracket)
    
    if len(data) == 2:
        
        for i in range(HalfN):
        
            a = ProbabilityModifier
            b = ProbabilityModifier
        
            for j in range(len(Participants)):
                if Bracket[i][0] == Participants[j]:
                    a += j
                
            for k in range(len(Participants)):
                if Bracket[i][1] == Participants[k]:
                    b += k
                
            probscore = b/(a+b)
        
            windata = [0]
            if random.random() < probscore:
                windata.append(Bracket[0][0])
            else:
                windata.append(Bracket[0][1])
        
            Tournament_Bracket = pd.DataFrame(windata, columns=["Winner!"]).drop(0)
    
            display(Tournament_Bracket)
        
        return
    
    Fixture2 = []
    for i in range(HalfN):
        
        a = ProbabilityModifier
        b = ProbabilityModifier
        
        for j in range(len(Participants)):
            if Bracket[i][0] == Participants[j]:
                a += j
                
        for k in range(len(Participants)):
            if Bracket[i][1] == Participants[k]:
                b += k
                
        probscore = b/(a+b)
        
        if random.random() < probscore:
            Fixture2.append(Bracket[i][0])
        else:
            Fixture2.append(Bracket[i][1])
            
    data = [[0,0]]
    for i in range(QuarterN):
        data.append([Fixture2[list[i]],Fixture2[list[i]+1]])
        
    Bracket = data[1:QuarterN+1]
    
    Tournament_Bracket = pd.DataFrame(data, columns=["Home", "Away"]).drop(0)
    
    display(Tournament_Bracket)
    
    if len(data) == 2:
        
        for i in range(QuarterN):
        
            a = ProbabilityModifier
            b = ProbabilityModifier
        
            for j in range(len(Participants)):
                if Bracket[i][0] == Participants[j]:
                    a += j
                
            for k in range(len(Participants)):
                if Bracket[i][1] == Participants[k]:
                    b += k
                
            probscore = b/(a+b)
        
            windata = [0]
            if random.random() < probscore:
                windata.append(Bracket[0][0])
            else:
                windata.append(Bracket[0][1])
        
            Tournament_Bracket = pd.DataFrame(windata, columns=["Winner!"]).drop(0)
    
            display(Tournament_Bracket)
        
        return
    
    Fixture3 = []
    for i in range(QuarterN):
        
        a = ProbabilityModifier
        b = ProbabilityModifier
        
        for j in range(len(Participants)):
            if Bracket[i][0] == Participants[j]:
                a += j
                
        for k in range(len(Participants)):
            if Bracket[i][1] == Participants[k]:
                b += k
                
        probscore = b/(a+b)
        
        if random.random() < probscore:
            Fixture3.append(Bracket[i][0])
        else:
            Fixture3.append(Bracket[i][1])
            
    data = [[0,0]]
    for i in range(EighthN):
        data.append([Fixture3[list[i]],Fixture3[list[i]+1]])
        
    Bracket = data[1:QuarterN+1]

    Tournament_Bracket = pd.DataFrame(data, columns=["Home", "Away"]).drop(0)
    
    display(Tournament_Bracket)
    
    if len(data) == 2:
        
        for i in range(EighthN):
        
            a = ProbabilityModifier
            b = ProbabilityModifier
        
            for j in range(len(Participants)):
                if Bracket[i][0] == Participants[j]:
                    a += j
                
            for k in range(len(Participants)):
                if Bracket[i][1] == Participants[k]:
                    b += k
                
            probscore = b/(a+b)
        
            windata = [0]
            if random.random() < probscore:
                windata.append(Bracket[0][0])
            else:
                windata.append(Bracket[0][1])
        
            Tournament_Bracket = pd.DataFrame(windata, columns=["Winner!"]).drop(0)
    
            display(Tournament_Bracket)
        
        return
    
    Fixture4 = []
    for i in range(EighthN):
        
        a = ProbabilityModifier
        b = ProbabilityModifier
        
        for j in range(len(Participants)):
            if Bracket[i][0] == Participants[j]:
                a += j
                
        for k in range(len(Participants)):
            if Bracket[i][1] == Participants[k]:
                b += k
                
        probscore = b/(a+b)
        
        if random.random() < probscore:
            Fixture4.append(Bracket[i][0])
        else:
            Fixture4.append(Bracket[i][1])
            
    data = [[0,0]]
    for i in range(SixteenthN):
        data.append([Fixture4[list[i]],Fixture4[list[i]+1]])
        
    Bracket = data[1:EighthN+1]

    Tournament_Bracket = pd.DataFrame(data, columns=["Home", "Away"]).drop(0)
    
    display(Tournament_Bracket)
    
    if len(data) == 2:
        
        for i in range(SixteenthN):
        
            a = ProbabilityModifier
            b = ProbabilityModifier
        
            for j in range(len(Participants)):
                if Bracket[i][0] == Participants[j]:
                    a += j
                
            for k in range(len(Participants)):
                if Bracket[i][1] == Participants[k]:
                    b += k
                
            probscore = b/(a+b)
        
            windata = [0]
            if random.random() < probscore:
                windata.append(Bracket[0][0])
            else:
                windata.append(Bracket[0][1])
        
            Tournament_Bracket = pd.DataFrame(windata, columns=["Winner!"]).drop(0)
    
            display(Tournament_Bracket)
        
        return
    
    Fixture5 = []
    for i in range(SixteenthN):
        
        a = ProbabilityModifier
        b = ProbabilityModifier
        
        for j in range(len(Participants)):
            if Bracket[i][0] == Participants[j]:
                a += j
                
        for k in range(len(Participants)):
            if Bracket[i][1] == Participants[k]:
                b += k
                
        probscore = b/(a+b)
        
        if random.random() < probscore:
            Fixture5.append(Bracket[i][0])
        else:
            Fixture5.append(Bracket[i][1])
            
    data = [[0,0]]
    for i in range(ThirtytwoN):
        data.append([Fixture5[list[i]],Fixture5[list[i]+1]])
        
    Bracket = data[1:SixteenthN+1]

    Tournament_Bracket = pd.DataFrame(data, columns=["Home", "Away"]).drop(0)
    
    display(Tournament_Bracket)
    
    if len(data) == 2:
        
        for i in range(ThirtytwoN):
        
            a = ProbabilityModifier
            b = ProbabilityModifier
        
            for j in range(len(Participants)):
                if Bracket[i][0] == Participants[j]:
                    a += j
                
            for k in range(len(Participants)):
                if Bracket[i][1] == Participants[k]:
                    b += k
                
            probscore = b/(a+b)
        
            windata = [0]
            if random.random() < probscore:
                windata.append(Bracket[0][0])
            else:
                windata.append(Bracket[0][1])
        
            Tournament_Bracket = pd.DataFrame(windata, columns=["Winner!"]).drop(0)
    
            display(Tournament_Bracket)
        
        return
    
    Fixture6 = []
    for i in range(ThirtytwoN):
        
        a = ProbabilityModifier
        b = ProbabilityModifier
        
        for j in range(len(Participants)):
            if Bracket[i][0] == Participants[j]:
                a += j
                
        for k in range(len(Participants)):
            if Bracket[i][1] == Participants[k]:
                b += k
                
        probscore = b/(a+b)
        
        if random.random() < probscore:
            Fixture6.append(Bracket[i][0])
        else:
            Fixture6.append(Bracket[i][1])
            
    data = [[0,0]]
    for i in range(SixtyfourN):
        data.append([Fixture6[list[i]],Fixture6[list[i]+1]])
        
    Bracket = data[1:SixteenthN+1]

    Tournament_Bracket = pd.DataFrame(data, columns=["Home", "Away"]).drop(0)
    
    display(Tournament_Bracket)
        
    if len(data) == 2:
    
        for i in range(SixtyfourN):
        
            a = ProbabilityModifier
            b = ProbabilityModifier
        
            for j in range(len(Participants)):
                if Bracket[i][0] == Participants[j]:
                    a += j
                
            for k in range(len(Participants)):
                if Bracket[i][1] == Participants[k]:
                    b += k
                
            probscore = b/(a+b)
        
        data = [0]
        if random.random() < probscore:
            data.append(Bracket[0][0])
        else:
            data.append(Bracket[0][1])
        
        Tournament_Bracket = pd.DataFrame(data, columns=["Winner!"]).drop(0)
    
        display(Tournament_Bracket)   
    
        return

In [9]:
Tournament(RoundOf64, 20)

             Home                Away
1         Marys_B             Johns_B
2     Hild_Bede_H             Cuths_F
3        Castle_B          Hatfield_D
4   Collingwood_J            Aidans_C
5         Cuths_A           Ustinov_A
6   Collingwood_K             South_D
7     John_Snow_D              Grey_B
8   Collingwood_L          Hatfield_A
9   Collingwood_E             Trevs_A
10      Mildert_C              Grey_E
11      Ustinov_B  Josephine_Butler_C
12  Collingwood_C          Hatfield_B
13        Johns_C            Aidans_A
14    John_Snow_B         Hild_Bede_G
15  Collingwood_B           Mildert_A
16        Trevs_B             Cuths_E
17        Marys_A  Josephine_Butler_B
18      Mildert_F             Chads_B
19    Hild_Bede_C         John_Snow_C
20    Hild_Bede_A           Mildert_E
21       Castle_A              Grey_D
22         Grey_A       Collingwood_G
23  Collingwood_D         Hild_Bede_E
24        Chads_A        Stephenson_A
25         Grey_C        Stephenson_C
26    John_Snow_A       Collingwood_A
27        Cuths_B           Mildert_B
28    Hild_Bede_B             South_A
29       Aidans_B             South_B
30  Collingwood_F  Josephine_Butler_A
31        Johns_A           Mildert_D
32     Hatfield_C             Staff_A

                  Home                Away
1              Marys_B             Cuths_F
2             Castle_B       Collingwood_J
3            Ustinov_A       Collingwood_K
4          John_Snow_D       Collingwood_L
5              Trevs_A              Grey_E
6            Ustinov_B          Hatfield_B
7              Johns_C         John_Snow_B
8            Mildert_A             Cuths_E
9   Josephine_Butler_B             Chads_B
10         Hild_Bede_C           Mildert_E
11              Grey_D              Grey_A
12       Collingwood_D        Stephenson_A
13              Grey_C       Collingwood_A
14           Mildert_B         Hild_Bede_B
15             South_B  Josephine_Butler_A
16           Mildert_D          Hatfield_C

                 Home           Away
1             Cuths_F       Castle_B
2       Collingwood_K  Collingwood_L
3             Trevs_A      Ustinov_B
4             Johns_C      Mildert_A
5             Chads_B      Mildert_E
6              Grey_D  Collingwood_D
7              Grey_C      Mildert_B
8  Josephine_Butler_A      Mildert_D

        Home           Away
1   Castle_B  Collingwood_K
2    Trevs_A      Mildert_A
3  Mildert_E         Grey_D
4  Mildert_B      Mildert_D

       Home       Away
1  Castle_B    Trevs_A
2    Grey_D  Mildert_D

      Home    Away
1  Trevs_A  Grey_D

   Winner!
1  Trevs_A

In [ ]:
Tournament(RoundOf32, 5)

In [ ]:
Tournament(RoundOf16, 5)

In [7]:
Tournament(QuarterFinals, 5)

                 Home                Away
1  Josephine_Butler_B       Collingwood_K
2       Collingwood_J            Castle_A
3            Castle_B  Josephine_Butler_C
4  Josephine_Butler_A       Collingwood_L

            Home           Away
1  Collingwood_K  Collingwood_J
2       Castle_B  Collingwood_L

            Home           Away
1  Collingwood_K  Collingwood_L

         Winner!
1  Collingwood_K

In [ ]:
Tournament(SemiFinals, 5)

In [ ]:
Tournament(Final, 20)